.border-form{
border-radius:10px;
	
border: 1px solid black;
padding: 50px;
}
.page-header{
	/*color: green;
	text-align: center;
	text-transform: uppercase;*/
}

.btn{
	/*text-align: center;
	margin-top: 30px;
	margin-left: 450px;*/
}