#fixNav1{
	width: 100%;
  height: 35px;
  background-color: #0082bb;
  display: block;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.5); /*Đổ bóng cho menu*/
  position: fixed; /*Cho menu cố định 1 vị trí với top và left*/
  top: 0; /*Nằm trên cùng*/
  left: 0; /*Nằm sát bên trái*/
  z-index: 100000; /*Hiển thị lớp trên cùng*/

}

.fixNav{
	width: 100%;
  /*height: 30px;*/
  background-color:#a29bfe;/*#636e72#636e72 #b2bec3*/
  display: block;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.5); /*Đổ bóng cho menu*/
  position: fixed; /*Cho menu cố định 1 vị trí với top và left*/
  top: 0; /*Nằm trên cùng*/
  left: 0; /*Nằm sát bên trái*/
  z-index: 100000; /*Hiển thị lớp trên cùng*/
  opacity: 0.5;
}

.pull-left1 {
    
    padding-top: 8px;
    }

    .navbar-collapse {
    padding-top: 4px;
}

.header-bottom1 {
    padding-bottom: 12px;
    padding-top: 12px;
}